<?xml version='1.0' standalone='yes' ?>
<LVData xmlns="http://www.ni.com/LVData">
<Version>14.0f1</Version>
<Cluster>
<Name>Master Configuration</Name>
<NumElts>5</NumElts>
<Cluster>
<Name>Epics Configuration</Name>
<NumElts>7</NumElts>
<Array>
<Name>DIN Mask</Name>
<Dimsize>2</Dimsize>
<Boolean>
<Name>Boolean</Name>
<Val>1</Val>
</Boolean>
<Boolean>
<Name>Boolean</Name>
<Val>1</Val>
</Boolean>
</Array>
<U32>
<Name># Samples Post Trig</Name>
<Val>10</Val>
</U32>
<Boolean>
<Name>Armed</Name>
<Val>1</Val>
</Boolean>
<Array>
<Name>ADC Mask</Name>
<Dimsize>0</Dimsize>
<Boolean>
<Name>Boolean</Name>
<Val></Val>
</Boolean>
</Array>
<Array>
<Name>ADC Max Threshold</Name>
<Dimsize>0</Dimsize>
<DBL>
<Name>Threshold</Name>
<Val></Val>
</DBL>
</Array>
<Array>
<Name>ADC Min Threshold</Name>
<Dimsize>0</Dimsize>
<DBL>
<Name>Threshold</Name>
<Val></Val>
</DBL>
</Array>
<Array>
<Name>DIN Mask 2</Name>
<Dimsize>2</Dimsize>
<Boolean>
<Name>Boolean</Name>
<Val>1</Val>
</Boolean>
<Boolean>
<Name>Boolean</Name>
<Val>1</Val>
</Boolean>
</Array>
</Cluster>
<String>
<Name>Epics Configuration File</Name>
<Val>/EpicsConfig.cfg</Val>
</String>
<U8>
<Name>Number of Channels</Name>
<Val>16</Val>
</U8>
<U32>
<Name>Data rate</Name>
<Val>100000</Val>
</U32>
<U32>
<Name>PM Buffer Size</Name>
<Val>300000</Val>
</U32>
</Cluster>
</LVData>